<nav class="navbar" role="navigation">
    <a name="top" id="top"></a>
    <div class="topbar">
        <div class="navbar-header">
            <a class="navbar-logo" href="/" data-track-label="banner" data-track-action="click" data-track-ca="Link" data-track>
                <img src="/static/img/pc/head-logo.png" class="img-responsive">
            </a>
        </div>
        <div class="navbar-icon"><img src="/static/img/mobile/m_icon-menu.png" alt="menu"></div>
        <div class="common-topbar-nav" id="header-navbar" aria-expanded="true">
            <ul class="common-topbar-nav-list">
                <li><a class="menu" href="/products">Monitor</a></li>
                <li><a class="menu" href="/community">客户案例</a></li>
                <li><a class="menu" href="/about">关于我们</a></li>
                <li class="nav-list-li-apply"><a class="nav-list-li-apply" href="/download">申请使用</a></li>
            </ul>
        </div>
    </div>
</nav>