{{template "../tpl/header.html" .}}
<div class="oneoaas">
    {{template "../tpl/navigation.html" .}}
    <!-- Oneoaas 头部 -->
    <div class="oneoaas-about-banner oneoaas-community-banner-bg">
        <div class="about-banner-content">
            <h3>客户案例</h3>
            <h2>为客户提供业界最优秀的落地解决方案</h2>
        </div>
    </div>

    <!-- 客户案例 简介-->
    <div class="oneoaas-body-item about-content-item">
        <div class="about-content-modal">
            <h2 class="body-item-modal-title">客户案例</h2>
            <h3 class="body-item-modal-subheading">Customer cases</h3>
            <div class="about-item-modal">
                <div class="about-user-info user-info-case">
                    <div class="user-info-icon">
                        <img src="/static/img/pc/case_06.png" alt="lenovo">
                    </div>
                    <div class="case-text">
                        <h6>联想集团</h6>
                        <div class="case-title">所属行业：IT/硬件</div>
                        <div class="case-info">联想集团是1984年中科院计算所投资20万元人民币，由11名科技人员创办，是中国的一家在信息产业内多元化发展的大型企业集团，和富有创新性的国际化的科技公司。
                            从1996年开始，联想电脑销量一直位居中国国内市场首位；2005年，联想集团收购IBM PC（Personal computer，个人电脑）事业部；2013年，联想电脑销售量升居世界第一，成为全球最大的PC生产厂商。
                        <!--<strong>了解更多>></strong>--></div>
                        <div class="case-detail">使用产品：<a href="/products">Monitor</a></div>
                    </div>
                </div>
                <div class="about-user-info user-info-case">
                    <div class="user-info-icon">
                        <img src="/static/img/pc/case_05.png" alt="tlbanck">
                    </div>
                    <div class="case-text">
                        <h6>浙江泰隆商业银行</h6>
                        <div class="case-title">所属行业：金融</div>
                        <div class="case-info">浙江泰隆商业银行成立于2006年，前身是1993年成立的台州市泰隆城市信用社。1993年6月28日，两间租赁小屋、七名员工、一百万注册资本，台州市泰隆城市信用社正式成立。
                            经过20年的艰苦创业，泰隆已经发展成为一个公司治理完善、组织结构合理、内部管理机制健全、经营状况良好的区域性金融机构,得到了监管的肯定。经中国银行监督管理委员会批准。
                            <!--<strong>了解更多>></strong>--></div>
                        <div class="case-detail">使用产品：<a href="/products">Monitor</a></div>
                    </div>
                </div>
                <div class="about-user-info user-info-case">
                    <div class="user-info-icon">
                        <img src="/static/img/pc/case_04.png" alt="srcb">
                    </div>
                    <div class="case-text">
                        <h6>上海农商银行</h6>
                        <div class="case-title">所属行业：金融</div>
                        <div class="case-info">上海农商银行成立于2005年8月25日，是由上海国资控股、总部设在上海的法人银行，是在有着逾50年历史的上海农村信用社基础上整体改制而成的股份制商业银行。
                            目前全行注册资本为80亿元人民币，营业网点近400家，员工总数超6000人。
                        <!--<strong>了解更多>></strong>--></div>
                        <div class="case-detail">使用产品：<a href="/products">Monitor</a></div>
                    </div>
                </div>
                <div class="about-user-info user-info-case">
                    <div class="user-info-icon">
                        <img src="/static/img/pc/case_03.png" alt="zdtq">
                    </div>
                    <div class="case-text">
                        <h6>正大天晴</h6>
                        <div class="case-title">所属行业：药业</div>
                        <div class="case-info">正大天晴药业集团是集科研、生产和销售为一体的创新型医药集团企业，是国内最大的肝健康药物研发和生产基地，为国家重点高新技术企业、国家火炬计划
                            连云港新医药产业基地重点骨干企业，2015年位列中国医药工业百强企业榜第17位，在江苏省医药行业中位列第二。2015年，肝病用药在国内医院市场占有率21.9%，连续多年稳居行业第一
                        <!--<strong>了解更多>></strong>--></div>
                        <div class="case-detail">使用产品：<a href="/products">Monitor</a></div>
                    </div>
                </div>
                <div class="about-user-info user-info-case">
                    <div class="user-info-icon">
                        <img src="/static/img/pc/case_02.png" alt="iij">
                    </div>
                    <div class="case-text">
                        <h6>IIJ Global</h6>
                        <div class="case-title">所属行业：IT/云服务</div>
                        <div class="case-info">立足于中国市场，致力为客户提供满足客户需求的IIJ GIO CHINA服务。IIJ GIO CHINA服务为我们推出的具有高性价比且超大容量的云服务。
                            不仅提供服务器资源，还为客户准备了多种产品，以实现最佳系统。
                        <!--<strong>了解更多>></strong>--></div>
                        <div class="case-detail">使用产品：<a href="/products">Monitor</a></div>
                    </div>
                </div>
                <div class="about-user-info user-info-case">
                    <div class="user-info-icon">
                        <img src="/static/img/pc/case_01.png" alt="qualica">
                    </div>
                    <div class="case-text">
                        <h6>QUALICA Shanghai</h6>
                        <div class="case-title">所属行业：IT/软件</div>
                        <div class="case-info">JSCAST是日本销量第一的铸造CAE软件。自1986年在日本开始销售，到2005年8月中文版的退出，JSCAST已成功销售了近600套，拥有350多家客户。
                            该软件适用于以压力铸造和中立铸造为代表的几乎所有铸造工艺及各种合金材料。高律科（上海）信息系统有限公司是QUALICA只是会社在中国的子公司，作为JSCAST在中国
                            的开发及售后服务中心而成立。
                        <!--<strong>了解更多>></strong>--></div>
                        <div class="case-detail">使用产品：<a href="/products">Monitor</a></div>
                    </div>
                </div>
                <div class="about-user-info user-info-case">
                    <div class="user-info-icon">
                        <img src="/static/img/pc/case_07.png" alt="envision">
                    </div>
                    <div class="case-text">
                        <h6>ENVISION</h6>
                        <div class="case-title">所属行业：智慧能源资产管理</div>
                        <div class="case-info">远景能源以“为人类的可持续未来解决挑战”为使命，致力于引领全球能源行业的智慧变革。远景能源成立至今连续多年业务高速增长，已经成为
                            全球领先的智慧能源技术服务提供商，业务包括智能风机的研发与销售、智慧风场软件和技术服务，研发能力和技术水平处于全球领先地位。目前集团员工总数接近1000
                            人，国际员工占20%，硕士和博士超过60%，研发及技术人员达到80%。
                        <!--<strong>了解更多>></strong>--></div>
                        <div class="case-detail">使用产品：<a href="/products">Monitor</a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{{template "../tpl/footer.html" .}}
{{template "../tpl/scripts.html" .}}
