{{template "../tpl/header.html" .}}
<div class="oneoaas">
    <div class="oneoaas-index oneoaas-header oneoaas-header-bg">
        {{template "../tpl/navigation.html" .}}
        <div class="oneoaas-wraper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="banner-monitor-monitor">
                            <div class="banner-monitor-title">
                                <h2>全新 OneOaaS Monitor V2.0</h2>
                                <h1>腾讯蓝鲸智云授权合作伙伴</h1>
                            </div>
                            <div class="banner-monitor-map">
                                <div class="banner-monitor-line"></div>
                            </div>
                            <div class="banner-monitor-btn">
                                <a href="/download"><button class="banner-monitor-button">立即体验</button></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 如果需要分页器 -->
               <!-- <div class="swiper-pagination index-pagination"></div>-->
            </div>
            <!-- 如果需要导航按钮 -->
        <!--    <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>-->
        </div>
    </div>
    <div class="oneoaas-body">

        <!-- oneoaas 简介 -->
        <div class="oneoaas-body-item surge-help">
            <div class="body-item-modal modal-surge-help">
                <h2 class="body-item-modal-title">我们能怎样帮助您？</h2>
                <h3 class="body-item-modal-subheading">How can we help you?</h3>
                <div class="item-modal-content">
                    <div class="modal-content-top">
                        <div class="content-module">
                            <div class="content-module-icon"><img src="/static/img/pc/icon_01.png" alt="物理机房"/></div>
                            <div class="content-module-info">
                                <h6>物理机房</h6>
                                <div class="module-info-text">企业自建的数据中心或者租赁的数据中心，满足企业的IT业务需求</div>
                            </div>
                        </div>
                        <div class="content-module">
                            <div class="content-module-icon"><img src="/static/img/pc/icon_04.png" alt="自动化运维工具"/></div>
                            <div class="content-module-info">
                                <h6>自动化运维工具</h6>
                                <div class="module-info-text">运维自动化工具能够提升IT运维的效率，为IT的快速交付提供保障</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-content-top">
                        <div class="content-module">
                            <div class="content-module-icon"><img src="/static/img/pc/icon_02.png" alt="私有云"/></div>
                            <div class="content-module-info">
                                <h6>私有云</h6>
                                <div class="module-info-text">私有云在企业内部发挥着重要作用，能够有效的满足企业的开发测试需求</div>
                            </div>
                        </div>
                        <div class="content-module">
                            <div class="content-module-icon"><img src="/static/img/pc/icon_05.png" alt="运营平台"/></div>
                            <div class="content-module-info">
                                <h6>运营平台</h6>
                                <div class="module-info-text">运营平台为企业的IT业务提供运营保障</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-content-top">
                        <div class="content-module">
                            <div class="content-module-icon"><img src="/static/img/pc/icon_03.png" alt="公有云"/></div>
                            <div class="content-module-info">
                                <h6>公有云</h6>
                                <div class="module-info-text">公有云的安全稳定，为企业业务提供了保障，可以满足企业按需使用IT资源和快速及时提供IT资源的需求</div>
                            </div>
                        </div>
                        <div class="content-module">
                            <div class="content-module-icon"><img src="/static/img/pc/icon_06.png" alt="企业组织流程"/></div>
                            <div class="content-module-info">
                                <h6>企业组织流程</h6>
                                <div class="module-info-text">企业组织流程和管理制度，审计和合规，为IT业务的安全稳定运行提供了多重保障机制</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-content-bg"></div>
        </div>

        <!-- 我们的产品 简介-->
        <div class="oneoaas-body-item body-products">
            <div class="body-item-modal our-products">
                <h2 class="body-item-modal-title">我们的产品</h2>
                <h3 class="body-item-modal-subheading">Our Products</h3>
                <div class="body-item-modal-products">
                    <h2>全新 OneOaaS Monitor V2.0</h2>
                    <div class="item-modal-products-btn">
                        <a href="/download"><button class="modal-products-btn-apply">申请试用</button></a>
                    </div>
                    <div class="item-modal-content">
                        <img class="modal-content-img" src="/static/img/pc/index_dashboard.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- 我们的合作伙伴 简介-->
        <div class="oneoaas-body-item body-businesses">
            <div class="body-item-modal modal-businesses">
                <h2 class="body-item-modal-title">深受数十家企业信赖</h2>
                <h3 class="body-item-modal-subheading">Trusted by dozens of companies</h3>
                <div class="body-item-modal-corporation">
                    <div class="item-modal-icon">
                        <img class="modal-icon-bank"  src="/static/img/pc/index_icon-bank.png" alt="浙江泰隆商业银行">
                        <img class="modal-icon-bank"  src="/static/img/pc/index_icon-srcb.png" alt="上海农商银行">
                        <img class="modal-icon-quaijca" src="/static/img/pc/index_icon-quaijca.png" alt="高律科(株式社会)上海">
                        <img class="modal-icon-chatai"  src="/static/img/pc/index_icon-chatai.png" alt="正大天晴">
                        <img class="modal-icon-chatai"  src="/static/img/pc/index_icon-envision.png" alt="ENVISION">
                        <img class="modal-icon-lenovo"  src="/static/img/pc/index_icon-lenovo.png" alt="联想服务">
                        <img class="modal-icon-lenovo"  src="/static/img/pc/index_icon-iijglobal.png" alt="IIJ Global">
                    </div>
                    <div class="m-item-modal-icon">
                        <img class="modal-icon-bank"  src="/static/img/pc/index_icon-bank.png" alt="浙江泰隆商业银行">
                        <img class="modal-icon-bank"  src="/static/img/pc/index_icon-srcb.png" alt="上海农商银行">
                        <img class="modal-icon-quaijca" src="/static/img/pc/index_icon-quaijca.png" alt="高律科(株式社会)上海">
                        <img class="modal-icon-quaijca"  src="/static/img/pc/index_icon-lenovo.png" alt="联想服务">
                        <img class="modal-icon-lenovo"  src="/static/img/pc/index_icon-envision.png" alt="ENVISION">
                        <img class="modal-icon-lenovo" style="padding-left:1%" src="/static/img/pc/index_icon-chatai.png" alt="正大天晴">
                        <img class="modal-icon-lenovo"  src="/static/img/pc/index_icon-iijglobal.png" alt="IIJ Global">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "../tpl/footer.html" .}}
<script language="javascript" type="text/javascript">
    /*$(function() {
        var swiper1 = new Swiper('.oneoaas-wraper .swiper-container', {
            pagination: '.oneoaas-wraper .swiper-pagination',
            paginationClickable: '.oneoaas-wraper .swiper-pagination',
            speed: 1200,
            nextButton: '.oneoaas-wraper .swiper-button-next',
            prevButton: '.oneoaas-wraper .swiper-button-prev',
            direction: 'horizontal', //横向移动
            loop: true,
            //autoplay: 3000  //可选选项，自动滑动
        });

        var swiper2 = new Swiper('.my-user .swiper-container', {
            effect: 'coverflow', //滑动方式
            centeredSlides: true, //slide模块居中
            roundLengths: true, //每个slide之间的拉伸值，越大slide靠得越紧。 默认0
            initialSlide: 1, //初始化展示第几页
            speed: 600, //滑动动画速度
            followFinger: true,
            slideToClickedSlide: true,
            nextButton: '.my-user .swiper-button-next',
            prevButton: '.my-user .swiper-button-prev',
            slidesPerView: "auto", //一屏展示几页
            direction: 'horizontal', //横向移动
            coverflow: {
                rotate: 0,
                stretch: 280,
                depth: 300,
                modifier: 2,
                slideShadows: false
            }
        });

    });*/
</script>
{{template "../tpl/scripts.html" .}}